<h1>
  WELCOME TO LUN
</h1>

<input type="text" (input)="onInput($event)">

<button (click)="clickSearchBtn()">Search</button>
<button (click)="registerClick()">Register</button>
<button (click)="logClick()">LogIn</button>
<button (click)="ShowAllClick()">Show All Houses</button>
<button (click)="createHouse()">Create House</button>

<div>
  {{ShowingValue}}
</div>

<div [ngSwitch]="RegisterClick">
  <form *ngSwitchCase=true>
    <input type="email" placeholder="please enter your email">
    <br>
    <input type="password" placeholder="please enter your password">
    <br>
    <input type="password" placeholder="please repeat your password">
    <br>
    <input type="text" placeholder="please enter your name">
    <br>
    <input type="text" placeholder="please enter your surname">
    <br>
    <button>REGISTER</button>
  </form>
</div>

<div [ngSwitch]="LoginClick">
  <form *ngSwitchCase=true>
    <input type="email" name="email" placeholder="enter your email">
    <input type="password" name="password" placeholder="enter your password">
    <br>
    <button>LOG IN</button>
  </form>
</div>

<div *ngIf="isShowAllClick">
  <div *ngFor="let house of ShowingAllHouse" class="houses">
      HATA {{house.id}}
      <br>
      city {{house.city}}
      <br>
      <br>
  </div>
</div>

<form *ngIf="CreateHouseClick" (input)="createInput($event)">
  <input type="text" name="city" placeholder="enter your city">
  <input type="text" name="square" placeholder="enter square">
  <input type="text" name="price" placeholder="enter price">
  <button (click)="createNewHouse(); $event.preventDefault()">CREATE</button>
</form>
